.DetailSection {
  padding: 40px 0;
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}

.container {
  padding: 1.6rem 2.4rem;
  background-color: #fafafa;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  position: relative;
}

.subtitle {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}

.table {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 48px;
}

.description {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 16px;
}

/* 흥미 */
.keywordContainer {
  margin-bottom: 24px;
}

.interests2Container {
  display: flex;
  gap: 16px;
  position: relative;
  margin-bottom: 16px;
}

.interests2Keyword {
  background-color: var(--secondary);
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  flex: 1;
  font-size: 16px;
  font-weight: 500;
}

.interests2KeywordMain {
  background-color: var(--primary);
  color: white;
}

@media (max-width: 425px) {
  .container {
    padding: var(--spacing-16) var(--spacing-16);
    border-radius: 0.8rem;
  }

  .table {
    flex-direction: column;
  }
}
