.Input {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
}

.label {
  font-size: var(--text-16);
  font-weight: var(--font-500);
}

.input {
  padding: var(--spacing-16);
  font-size: var(--text-16);
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue",
    "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;
  border-radius: 0.8rem;
  border: none;
  border: 2px solid var(--secondary);
}

.input::placeholder {
  color: #cdced6;
}

.input:focus {
  border: 2px solid var(--primary);
  outline: 2px solid var(--primary);
  outline-offset: -2px;
}

@media (max-width: 425px) {
  .input {
    padding: var(--spacing-16) var(--spacing-8);
  }
}
