.InformationPage {
  background-image: url("../../../public/svg/background.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.informationPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  font-size: var(--text-36);
  font-weight: var(--font-700);
  margin-bottom: var(--spacing-64);
}

.image {
  margin-bottom: var(--spacing-48);
}

.pContainer {
  margin-bottom: var(--spacing-24);
}

.bold {
  font-weight: var(--font-700);
}

.p {
  font-size: var(--text-18);
  line-height: 3rem;
  max-width: 800px;
  margin-bottom: var(--spacing-8);
}

.warning {
  color: var(--blue);
  font-size: var(--text-20);
  font-weight: var(--font-700);
  margin-bottom: var(--spacing-16);
}
