.PentagonGraph {
  width: 400px;
  height: 400px;
}

@media print {
  .PentagonGraph {
    display: none;
  }
}

@media (max-width: 425px) {
  .PentagonGraph {
    width: 250px;
    height: 250px;
  }
}
