.KeywordSection {
  padding: 40px 0;
}

.title {
  font-size: 24px;
  font-weight: 700;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.keywordContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.description {
  font-size: 18px;
  line-height: 2.4rem;
}

.keyword {
  font-weight: 700;
}

@media (max-width: 425px) {
  .title {
    margin-bottom: 40px;
  }

  .container {
    flex-direction: column;
    gap: var(--spacing-24);
  }

  .keywordContainer {
    order: 2;
    width: 100%;
  }

  .image {
    order: 1;
    width: 100%;
  }
}
