.KeywordSection {
  padding: 40px 0;
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.keywordContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.description {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 2.4rem;
  gap: 8px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: var(--secondary);
  border-radius: 100px;
  padding: 4px 12px;
}

.image {
  flex: 1;
  width: 100%;
  height: 100%;
}

.keyword {
  font-size: var(--text-16);
  font-weight: var(--font-700);
}

.printContainer {
  display: none;
}

/* 프린트 */
@media print {
  .KeywordSection {
    padding: 0;
    margin-bottom: 40px;
  }

  .title {
    font-size: 16px;
    margin-bottom: 24px;
  }

  .container {
    display: none;
  }

  .printContainer {
    display: flex;
    align-items: stretch;
    border: 1px solid black;
    border-bottom: none;
  }

  .printContainer:last-child {
    border-bottom: 1px solid black;
  }

  .printImgContainer {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-weight: 700;
    padding: 8px;
    min-width: 100px;
    background-color: var(--secondary);
    border-right: 1px solid black;
  }

  .printDescContainer {
    font-size: 12px;
    line-height: 150%;
    padding: 8px;
    text-align: left;
  }
}

@media (max-width: 425px) {
  .title {
    margin-bottom: 40px;
  }

  .container {
    flex-direction: column;
    gap: var(--spacing-24);
  }

  .keywordContainer {
    order: 2;
    width: 100%;
  }

  .image {
    order: 1;
    width: 100%;
  }

  .description {
    flex-direction: column;
    align-items: flex-start;
    line-height: 2.7rem;
  }
}
