.Table {
  width: 100%;
  font-size: var(--text-14);
  background-color: #eff6ff;
  border-radius: 1rem;
}

.tr {
  display: flex;
  gap: 1px;
}

.th {
  font-size: var(--text-16);
  font-weight: var(--font-700);
  background-color: #d2d9ea;
  padding: var(--spacing-16);
  display: flex;
  justify-content: center;
  align-items: center;
}

.topleft {
  border-top-left-radius: 1rem;
}

.topright {
  border-top-right-radius: 1rem;
}

.tbody {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.td {
  display: flex;
  align-items: center;
  padding: var(--spacing-16);
  line-height: 2.4rem;
  background-color: white;
}

.field {
  flex: 0.5;
  display: flex;
  justify-content: center;
}

.score {
  flex: 0.2;
  display: flex;
  justify-content: center;
}

.content {
  flex: 3;
  display: flex;
  justify-content: center;
}

.bottomleft {
  border-bottom-left-radius: 1rem;
}

.bottomright {
  border-bottom-right-radius: 1rem;
}

@media (max-width: 425px) {
  .Table {
    display: none;
  }
}
