.MajorSection {
  margin-bottom: 8rem;
}

.title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 64px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
}

.description {
  font-size: 1.8rem;
  line-height: 2.7rem;
  text-align: center;
  margin-bottom: 40px;
}

.majorsContainer {
  display: flex;
  gap: 32px;
  margin-bottom: 6.4rem;
}

.major {
  background-color: var(--secondary);
  font-size: 20px;
  font-weight: 700;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-radius: 0.8rem;
}

/* 반응형 */

@media (max-width: 425px) {
  .title {
    font-size: var(--text-28);
    text-align: center;
  }

  .description {
    font-size: var(--text-16);
    line-height: 2.4rem;
    text-align: left;
    margin-bottom: 40px;
  }

  .majorsContainer {
    flex-direction: column;
    gap: var(--spacing-16);
  }

  .major {
    background-color: var(--secondary);
    font-size: 16px;
    padding: 16px;
    border-radius: 0.8rem;
  }
}
