.SummarySection {
  padding: 40px 0;
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}

.cardContainer {
  display: flex;
  flex-flow: wrap;
  gap: 16px;
}

.cardContainer div {
  flex: 1 1 calc(50% - 16px);
}

/* 프린트 */
@media print {
  .SummarySection {
    padding: 0;
    break-after: page;
  }

  .title {
    font-size: 16px;
    margin-bottom: 24px;
  }

  .cardContainer {
    display: flex;
    flex-flow: wrap;
    gap: 16px;
  }

  .cardContainer div {
    flex: 1 1 calc(50% - 16px);
  }
}

@media (max-width: 425px) {
  .cardContainer {
    flex-direction: column;
  }
}
