.circle {
  width: 850px;
  height: 850px;
  border-radius: 50%;
  border: 2px solid var(--secondary);
  position: absolute;
}

.banner1,
.banner2,
.banner3,
.banner4,
.banner5 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  animation: banner 20s linear infinite;
  animation-delay: 0s;
}

.banner2 {
  animation-delay: -4s;
}

.banner3 {
  animation-delay: -8s;
}

.banner4 {
  animation-delay: -12s;
}

.banner5 {
  animation-delay: -16s;
}

@keyframes banner {
  0% {
    transform: rotate(0deg) translate(-425px) rotate(0deg) scale(3);
  }
  25% {
    transform: rotate(90deg) translate(-425px) rotate(-90deg) scale(2);
  }
  50% {
    transform: rotate(180deg) translate(-425px) rotate(-180deg) scale(1);
  }
  75% {
    transform: rotate(270deg) translate(-425px) rotate(-270deg) scale(2);
  }
  100% {
    transform: rotate(360deg) translate(-425px) rotate(-360deg) scale(3);
  }
}

@keyframes banner-mobile {
  0% {
    transform: rotate(0deg) translate(-250px) rotate(0deg) scale(1.5);
  }
  25% {
    transform: rotate(90deg) translate(-250px) rotate(-90deg) scale(1.5);
  }
  50% {
    transform: rotate(180deg) translate(-250px) rotate(-180deg) scale(1.5);
  }
  75% {
    transform: rotate(270deg) translate(-250px) rotate(-270deg) scale(1.5);
  }
  100% {
    transform: rotate(360deg) translate(-250px) rotate(-360deg) scale(1.5);
  }
}

/* 반응형 */
@media (max-width: 425px) {
  .circle {
    width: 500px;
    height: 500px;
  }

  .banner1,
  .banner2,
  .banner3,
  .banner4,
  .banner5 {
    animation: banner-mobile 20s linear infinite;
    animation-delay: 0s;
  }

  .banner2 {
    animation-delay: -4s;
  }

  .banner3 {
    animation-delay: -8s;
  }

  .banner4 {
    animation-delay: -12s;
  }

  .banner5 {
    animation-delay: -16s;
  }
}
