.ResultPage {
  padding: var(--spacing-64) 0;
}

.titleContainer {
  margin-bottom: 64px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 16px;
}

.warning {
  font-size: 16px;
  font-weight: 500;
  color: blue;
  margin-bottom: 64px;
}

.print {
  background-color: var(--secondary);
  width: 48px;
  height: 48px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 425px) {
  .title {
    font-size: 28px;
    margin-bottom: 12px;
  }

  .warning {
    font-size: 14px;
    margin-bottom: 40px;
  }

  .print {
    display: none;
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

/* print */

@page {
  size: A4;
  margin: 20mm;
}

@media print {
  .ResultPage {
    padding: 0;
  }

  .titleContainer {
    margin-bottom: 24px;
  }

  .title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
  }

  .warning {
    font-size: 12px;
    font-weight: 500;
    color: blue;
    margin-bottom: 24px;
  }

  .buttonContainer {
    display: none;
  }

  .print {
    display: none;
  }
}
