.ResultPage {
  padding: var(--spacing-64) 0;
}

.titleContainer {
  margin-bottom: 64px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 16px;
}

.warning {
  font-size: 16px;
  font-weight: 500;
  color: blue;
  margin-bottom: 64px;
}

@media (max-width: 425px) {
  .title {
    font-size: 28px;
    margin-bottom: 12px;
  }

  .warning {
    font-size: 14px;
    margin-bottom: 40px;
  }
}

/* .buttonContainer {
  display: flex;
  justify-content: center;
}

.button {
  cursor: pointer;
  font-size: var(--text-18);
  font-weight: var(--font-700);
  background-color: var(--secondary);
  padding: var(--spacing-16) var(--spacing-24);
  transition: all 200ms ease-in-out;
  border-radius: var(--border-8);
}

.button:hover {
  background-color: var(--primary);
  color: var(--white);
} */
